@model IEnumerable<BazaSotrudnikov.Domain.Models.City>
        
<select class="form-control" id="CityId" name="CityId">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
